h1{
	color:#424242;font-size: 60px;
	background-image:url("im.jpg" );border:1px solid black;
	text-align: center
}
body{
	font-size: 32px;background-image: url("lune.jpg");
	background-size: 100%;color:white;
}
img{
	position: relative;
	left:400px;
}
td,td,th{
	border:2px solid black
}
table{
	border-collapse: collapse;
	position:relative;
	left:600px;
}
thead{
	border: 2px solid black;

}
tfoot{
	color:white;
	

}
p{
	border:2px solid black;color:white;font-family:'Pacifico', cursive;
}
a{
	color:white;
	}
